/* estilos.css */
#fondo{
	width:800px;
	height:800px;
	background: url('../img/PuntasAbiertas.jpg');
}
#slider{
	width:750px;
	height:200px;
	position: relative;
	top: 70px;
	margin:	0 auto;
}
#mydiv{
	position: relative;
	top: 73px;
}
#carousel{
	height: 400px;
	width: 800px;
	overflow: hidden;
	position: relative;
	left: -27px;
	top: -71px;
	border: none;
}